.summary{
    text-align: center;
    max-width: 640px;
    width: 90%;
    margin: auto;
    margin-top: -160px;
    position: relative;
    background-color:#fff;
    color: #000;
    border-radius: 14px;
    padding: 16px;
    box-shadow: 0 1px 18px 10px rgba(223, 221, 221, 0.25);

}
.summary h2 {
    font-size: 32px;
    margin-top: 0;
  }