.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    padding: 16px 0;
    margin: 16px 0;
    max-height: 20rem;
}
.cartItem h2{
    margin: 0 0 8px 0;
    color: #000;
}
.summary{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-weight: bold;
    color: tomato;
}
.amount{
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 5px;
   color:#000 ;
}
.actions{
    display: flex;
    flex-direction: column;
}

.cartItem button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(248, 53, 19);
    border: 1px solid rgb(254, 51, 15);
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
  }
  
  .cartItem button:hover,
  .cartItem button:active {
    background-color: rgb(250, 111, 87);
    color: white;
  }
  @media (min-width: 768px) {
    .actions {
      flex-direction: row;
    }
  }