.form{
   text-align: center;
}

.form button{
    font: inherit;
    cursor: pointer;
   border: 1px solid rgb(250, 72, 7);
   outline: none;
   padding: 8px 32px;
   border-radius: 20px;
    font-weight: bold;
   background-color: rgb(250, 72, 7);
   color: white;
   margin-right: -30px;
   
}
.form button:hover,.form button:active{
    background-color: rgb(240, 69, 7);
    border-color:rgb(240, 69, 7) ;

}