.input{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.input label{
    font-weight: bold;
    margin-right: 16px;
}
.input input{
    text-align: center;
    width: 50px;
    height: 30px;
    border: 1px solid #000;
   font: inherit;
   padding: 8px;
}